<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>RevShop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletRegister</servlet-name>
    <servlet-class>com.revshop.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegister</servlet-name>
    <url-pattern>/ServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>com.revshop.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/ServletHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SellerDashboardServlet</display-name>
    <servlet-name>SellerDashboardServlet</servlet-name>
    <servlet-class>com.revshop.SellerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerDashboardServlet</servlet-name>
    <url-pattern>/SellerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.revshop.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.revshop.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.revshop.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerDashboardServlet</display-name>
    <servlet-name>BuyerDashboardServlet</servlet-name>
    <servlet-class>com.revshop.BuyerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerDashboardServlet</servlet-name>
    <url-pattern>/BuyerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.revshop.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
</web-app>